# .NET Core
*.dll
*.exe
*.pdb
*.user
*.vscode
MRMS/bin/
MRMS/obj/
MRMSTests/bin/
MRMSTests/obj/

# Visual Studio
*.suo
*.ntvs*
*.njsproj
*.sln
*.csproj
*.xproj
*.user
*.vspscc
*.vssscc
.vs/
/vs/MRMS

# Rider
.idea/

# Resharper
_ReSharper*/

# Test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# SQL Server files
*.mdf
*.ldf

# Other
node_modules/
