@page
@model MRMS.Pages.Prescriptions.CreateModel

@{
    ViewData["Title"] = "Prescribe Medication";
}

<h1>@ViewData["Title"]</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Prescription.ConsultationId" class="control-label"></label>
                <input asp-for="Prescription.ConsultationId" class="form-control" />
                <span asp-validation-for="Prescription.ConsultationId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prescription.Date" class="control-label"></label>
                <input asp-for="Prescription.Date" class="form-control" />
                <span asp-validation-for="Prescription.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prescription.Medication" class="control-label"></label>
                <input asp-for="Prescription.Medication" class="form-control" />
                <span asp-validation-for="Prescription.Medication" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prescription.DoseQuantity" class="control-label"></label>
                <input asp-for="Prescription.DoseQuantity" class="form-control" />
                <span asp-validation-for="Prescription.DoseQuantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prescription.DoseFrequency" class="control-label"></label>
                <input asp-for="Prescription.DoseFrequency" class="form-control" />
                <span asp-validation-for="Prescription.DoseFrequency" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prescription.DoseStrength" class="control-label"></label>
                <input asp-for="Prescription.DoseStrength" class="form-control" />
                <span asp-validation-for="Prescription.DoseStrength" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prescription.TotalQuantity" class="control-label"></label>
                <input asp-for="Prescription.TotalQuantity" class="form-control" />
                <span asp-validation-for="Prescription.TotalQuantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prescription.Refills" class="control-label"></label>
                <input asp-for="Prescription.Refills" class="form-control" />
                <span asp-validation-for="Prescription.Refills" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prescription.Duration" class="control-label"></label>
                <input asp-for="Prescription.Duration" class="form-control" />
                <span asp-validation-for="Prescription.Duration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
