@page
@model MRMS.Pages.BloodTests.EditModel

@{
    ViewData["Title"] = "Edit Blood Test Order";
}

<h1>@ViewData["Title"]</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BloodTest.BloodTestId" />
            <div class="form-group">
                <label asp-for="BloodTest.ConsultationId" class="control-label"></label>
                <input asp-for="BloodTest.ConsultationId" class="form-control" />
                <span asp-validation-for="BloodTest.ConsultationId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BloodTest.Comments" class="control-label"></label>
                <input asp-for="BloodTest.Comments" class="form-control" />
                <span asp-validation-for="BloodTest.Comments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BloodTest.PerformedDate" class="control-label"></label>
                <input asp-for="BloodTest.PerformedDate" class="form-control" />
                <span asp-validation-for="BloodTest.PerformedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BloodTest.PerformedById" class="control-label"></label>
                <input asp-for="BloodTest.PerformedById" class="form-control" />
                <span asp-validation-for="BloodTest.PerformedById" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
